<h1>Hello Admin!</h1>

{% for msg in get_flashed_messages() %}
  <p style="color: red;">{{ msg }}</p>
{% endfor %}

<a href="{{ url_for('admin.create_room') }}">Create new room!</a>
<a href="{{ url_for('admin.create_tag') }}">Create a new tag!</a>
<a href="{{ url_for('admin.posts') }}">Moderate Posts!</a>

<h2>Rooms</h2>
<ul>
{% for room in rooms %}
	<li>{{ room.name }}</li>
{% endfor %}
</ul>

<h2>Post Tags</h2>
<ul>
	{% for tag in tags %}
		<li>{{ tag.name }}</li>
	{% endfor %}
</ul>

<h2>Students</h2>
<ul>
	{% for student in students %}
		<li><a href="{{ url_for('admin.student', name=student.name) }}">{{ student.name }}</a></li>
	{% endfor %}
</ul>