{% macro render_field(field) %}
  {{ field.label }}
  {{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  <br>
{% endmacro %}

<h1>Hello World!</h1>
{% if current_user.is_authenticated() %}
<h1>Welcome {{ current_user.name }}</h1>
<h6><a href="{{ url_for('.logout') }}">Logout</a></h6>
{% endif %}

<form action="/" method="POST">
	{{ form.hidden_tag() }}
	{{ render_field(form.name) }}
	{{ render_field(form.password) }}
	{{ render_field(form.confirm) }}
	{{ form.submit.label }} {{ form.submit }}
</form>

<h1>LOGIN INSTEAD</h1>
<form action="/" method="POST">
	{{ login.hidden_tag() }}
	{{ login.name(placeholder="Name") }}
	{{ login.password(placeholder="Password") }}
	{{ login.submit }}
</form>