{% from "_form_macros.html" import render_field %}

<h1>Hello World!</h1>
{% if current_user.is_authenticated() %}
<h1>Welcome {{ current_user.name }}</h1>
<a href="{{ url_for('profile.index', name=current_user.name) }}">Profile</a>
<h6><a href="{{ url_for('auth.logout') }}">Logout</a></h6>
{% endif %}

{% for msg in get_flashed_messages() %}
  <p style="color: red;">{{ msg }}</p>
{% endfor %}

<form action="/" method="POST">
	{{ form.hidden_tag() }}
	{{ render_field(form.name) }}
	{{ render_field(form.password) }}
	{{ render_field(form.confirm) }}
	{{ form.submit.label }} {{ form.submit }}
</form>

<h1>LOGIN INSTEAD</h1>
<form action="{{ url_for('auth.login') }}" method="POST">
	{{ login.hidden_tag() }}
	{{ login.name(placeholder="Name") }}
	{{ login.password(placeholder="Password") }}
	{{ login.submit }}
</form>

<h1>GO POST IN A ROOM</h1>
<ul>
{% for room in rooms %}
	<li><a href="{{ url_for('main.room', name=room.name) }}">{{ room.name }}</a></li>
{% endfor %}
</ul>